root = "."
testdata_dir = "testdata"
tmp_dir = "bin"

[build]
  bin = "./bin/main"
  cmd = "go build -o ./bin/main cmd/api/wire_gen.go"
  delay = 0
  exclude_dir = ["node_modules", "assets", "tmp", "vendor", "testdata",
  "internal"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["cmd", "view", "pkg", "public", "util", "services"]
  include_ext = ["go", "html", "css", "js", ]
  include_file = [".env"]
  kill_delay = "2s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
