networks:
  golang-net:
    driver: bridge
services:
  backend:
    container_name: gobackend
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - golang-net
    ports:
      - "8888:8888"
    volumes:
      - ./public:/app/public
      - ./internal/datastore/*:/app/internal/datastore
      - ./config.yaml:/app/config.yaml
